@using Coza_Ecommerce_Shop.ViewModels
@* @using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList *@
@model PagingViewModel

@if (Model != null && Model.TotalPages > 1)
{
    <div class="mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item prev">
                        <a class="page-link" href="@Url.Action(null, new { page = Model.CurrentPage - 1 , search = Model.SearchTerm})"><i class="tf-icon bx bx-chevrons-left bx-sm"></i></a>
                    </li>
                }
                else
                {
                    <li class="page-item prev disabled">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left bx-sm"></i></a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action(null, new { page = i, search = Model.SearchTerm })">@i</a>
                        </li>
                    }
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item next">
                        <a class="page-link" href="@Url.Action(null, new { page = Model.CurrentPage + 1, search = Model.SearchTerm })"><i class="tf-icon bx bx-chevrons-right bx-sm"></i></a>
                    </li>
                }
                else
                {
                    <li class="page-item next disabled">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right bx-sm"></i></a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}
