@model Coza_Ecommerce_Shop.Models.Entities.ProductCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="ProductCategories" asp-action="Index">Product Categoy</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<hr />

<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Chi tiết Danh Mục Sản phẩm</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Slug)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Slug)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsFeatured)
            </dt>
            <dd class="col-sm-10">
                @if (Model.IsFeatured)
                {
                    <span class="badge bg-success">Nổi bật</span> <!-- Hiển thị thông báo với badge màu xanh -->
                }
                else
                {
                    <span class="badge bg-danger">Không nổi bật</span> <!-- Thêm thông báo cho trường hợp không hiển thị -->
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParentCategoryId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParentCategory.Title)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeoTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeoTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeoDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeoDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeoKeywords)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeoKeywords)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifierDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifierDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
        </dl>

        <div class="d-flex gap-2 mt-4">
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>

    </div>
    
</div>

