@model Coza_Ecommerce_Shop.ViewModels.Banner.BannerPagingViewModel
@{
    ViewData["Title"] = "Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-header mb-0">@ViewData["Title"]</h5>
        <div class="d-flex gap-2 px-4">
            <a asp-action="Create" class="btn btn-primary">Create</a>
        </div>
    </div>

    <!-- form search -->
    <form class="px-4 pb-2 d-flex w-25" method="get" asp-area="Admin" asp-action="Index" asp-controller="Banner">
        <div class="input-group input-group-merge">
            <button type="submit" class="input-group-text" id="basic-addon-search31" aria-label="icon">
                <i class="bx bx-search"></i>
            </button>
            <input type="text" name="search" class="form-control" placeholder="Tìm kiếm..." aria-label="Search..." aria-describedby="basic-addon-search31">
        </div>
    </form>
    <!-- // form search -->
    @if (Model.Banners != null && Model.Banners.Any())
    {
        <hr class="border border-primary border-3 opacity-75">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Create Date
                        </th>
                        <th class="text-center">
                            Active
                        </th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 0;
                    }
                    @foreach (var item in Model.Banners)
                    {
                        string iconStatus = item.IsShow ? "<i class='bx bx-check-circle text-success' ></i>" : "<i class='bx bx-x-circle text-danger'></i>";

                        <tr>
                            <td>@(++stt)</td>
                            <td>
                                <img src="@(string.IsNullOrEmpty(item.Image) ? "https://placehold.co/400x400" : Url.Content(item.Image))" style="object-fit: cover; width: 50px; height: 50px;" class="img-thumbnail" alt="...">
                            </td>
                            <td class="text-truncate" style="max-width: 300px;">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @item.CreateDate.ToString("dd/MM/yyyy")
                            </td>

                            <td class="text-center">
                                @Html.Raw(iconStatus)
                            </td>

                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info mx-2">Detail </a>
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@await Component.InvokeAsync("Paging", Model.PagingInfo)


