@model IEnumerable<Coza_Ecommerce_Shop.Models.Entities.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}
<!-- Basic Bootstrap Table -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>
<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-header mb-0">@ViewData["Title"]</h5>
        <div class="d-grid gap-2 me-4">
            <a asp-action="Create" class="btn btn-primary me-2">Create</a> <!-- Thêm margin bên phải -->
        </div>
    </div>


    @if (Model != null && Model.Any())
    {
        <hr class="border border-primary border-3 opacity-75">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td><strong>@Html.DisplayFor(modelItem => item.Title)</strong></td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info mx-2">Detail </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    }

</div>

<!--/ Basic Bootstrap Table -->
