@model Dictionary<string, string>

@{
    ViewData["Title"] = "Chỉnh sửa cấu hình";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<hr />
<div class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Thông tin thuộc tính mới</h5>
            </div>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="SettingConfiguration" asp-action="Update" method="post" enctype="multipart/form-data">
                    @foreach (var setting in Model)
                    {
                        <div class="mb-3">
                            <label>@setting.Key</label>

                            @if (setting.Key.ToLower() == "logo")
                            {
                                <input type="file" id="formValidationFile" name="@setting.Key" class="form-control" />
                                <img src="@setting.Value" alt="Logo" id="previewImage" class="img-thumbnail mt-3" style="margin-top: 10px; width: auto; height: auto" />
                            }
                            else
                            {
                                <input type="text" name="@setting.Key" value="@setting.Value" class="form-control" />
                            }
                        </div>
                    }

                    <button type="submit" class="btn btn-primary mt-3">Lưu thay đổi</button>
                </form>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    @{
        var obj = new
        {
            input = "formValidationFile",
            img = "previewImage"
        };
        <partial name="_PreviewImagecshtml" model="obj" />
    }
}
