@using Coza_Ecommerce_Shop.ViewModels.Product
@model Coza_Ecommerce_Shop.ViewModels.Product.ProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Sub.cshtml";
}
<style>
    .btn-tab.actives {
        color: #696cff !important;
        box-shadow: 0 -4px 0 #696cff inset;
    }

    #imagePreview img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 10px;
        margin-bottom: 10px;
    }


    #variantsTable {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        overflow: hidden;
    }

        #variantsTable th,
        #variantsTable td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #variantsTable th {
            background-color: #f8f9fa;
            font-weight: bold;
            text-align: center;
        }

            #variantsTable td:nth-child(1), /* Màu sắc */
            #variantsTable th:nth-child(1) {
                width: 100px;
            }

            #variantsTable td:nth-child(2), /* Kích thước */
            #variantsTable th:nth-child(2) {
                width: 100px;
            }

            #variantsTable td:nth-child(3), /* SKU */
            #variantsTable th:nth-child(3) {
                width: 100px;
            }

            #variantsTable td:nth-child(4), /* Giá */
            #variantsTable th:nth-child(4) {
                width: 80px;
            }

            #variantsTable td:nth-child(5), /*  */
            #variantsTable th:nth-child(5) {
                width: 80px;
            }

            #variantsTable td:nth-child(6), /* Số lượng */
            #variantsTable th:nth-child(6) {
                width: 50px;
            }

            #variantsTable td:nth-child(7), /* Mặc định */
            #variantsTable th:nth-child(7) {
                width: 60px;
            }

            #variantsTable td:nth-child(8), /* Hành động */
            #variantsTable th:nth-child(8) {
                width: 60px;
            }

        #variantsTable input[type="text"],
        #variantsTable input[type="number"] {
            width: 100%;
            padding: 4px;
            font-size: 14px;
        }


        #variantsTable .removeVariant {
            display: block;
            margin: 0 auto;
            padding: 4px 8px;
            font-size: 14px;
        }

</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Products" asp-action="Index">Products</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<hr />
<div class="card mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Chỉnh sửa sản phẩm</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="tab-content">
                        <!-- 1 -->

                        <div class="form-group mb-3">
                            <label asp-for="ProductCode" class="control-label"></label>
                            <input readonly disabled asp-for="ProductCode" class="form-control" />
                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Detail" class="form-label"></label>
                            <textarea asp-for="Detail" id="Detail" class="form-control"></textarea>
                            <span asp-validation-for="Detail" class="text-danger"></span>
                        </div>

                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label asp-for="IsHome" class="control-label"></label>
                            <div class="form-check form-switch mb-0">
                                <input asp-for="IsHome" type="checkbox" class="form-check-input">
                            </div>
                        </div>

                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label asp-for="IsSale" class="control-label"></label>
                            <div class="form-check form-switch mb-0">
                                <input asp-for="IsSale" type="checkbox" class="form-check-input">
                            </div>
                        </div>

                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label asp-for="IsFeature" class="control-label"></label>
                            <div class="form-check form-switch mb-0">
                                <input asp-for="IsFeature" type="checkbox" class="form-check-input">
                            </div>
                        </div>
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label asp-for="IsHot" class="control-label"></label>
                            <div class="form-check form-switch mb-0">
                                <input asp-for="IsHot" type="checkbox" class="form-check-input">
                            </div>
                        </div>


                        <div class="form-group mb-3">
                            <label asp-for="ProductCategoryId" class="control-label"></label>
                            <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId">
                                <option value="">-- Chọn danh mục --</option>
                            </select>
                            <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                        </div>


                        <!-- 2 -->
                        <!-- product images -->

                        <div class="mb-3">
                            <label for="formValidationFile" class="form-label">Ảnh sản phẩm</label>
                            <input asp-for="Files" multiple class="form-control" type="file" id="formValidationFile">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <div class="mb-5">
                            <div id="imagePreview" class="row">
                                <input asp-for="Image" id="checkedImage" type="hidden" value="@(Model.Image ?? "")" />

                                @if (Model.ProductImages != null && Model.ProductImages.Any())
                                {
                                    var listImage = Model.ProductImages.ToList();
                                    for (int i = 0; i < listImage.Count; i++)
                                                        {
                                        string filename = listImage[i].Image.Split("/").Last();

                                        <div class="col-3 mb-3 image-item">
                                            <img src="@listImage[i].Image" class="col-4 mb-3" style="max-width: 100%;">
                                            <div>
                                                <input type="radio" @(listImage[i].IsDefault ? "checked" : "") name="imageRep" value="@listImage[i].Image" id="radio@(i)" class="me-2">
                                                <label for="radio@(i)">Chọn ảnh này làm đại diện</label>
                                            </div>
                                            <button type="button" class="btn btn-danger btn-sm btn-delete-img mt-2" data-id="@listImage[i].Id">Xóa</button>
                                        </div>
                                    }
                                    <input type="hidden" name="DeletedImageIds" id="deleted-image-ids" />
                                }
                            </div>

                        </div>


                        <div class="container my-4">
                            <table class="table table-bordered" id="variantsTable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Màu sắc</th>
                                        <th>Kích thước</th>
                                        <th>Giá</th>
                                        <th>Giá khuyến mãi</th>
                                        <th>Số lượng</th>
                                        <th>Mặc định</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null && Model.Variants.Count > 0)
                                        {
                                            for (int i = 0; i < Model.Variants.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" name="Variants[@i].Color" value="@Model.Variants.ElementAt(i).Color" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="Variants[@i].Size" value="@Model.Variants.ElementAt(i).Size" />
                                                    </td>

                                                    <td>
                                                        <input type="number" class="form-control" name="Variants[@i].BasePrice" value="@Model.Variants.ElementAt(i).BasePrice" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" name="Variants[@i].PriceSale" value="@Model.Variants.ElementAt(i).PriceSale" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" name="Variants[@i].Quantity" value="@Model.Variants.ElementAt(i).Quantity" />
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" class="form-check-input variant-radio"
                                                               name="Variants.IsDefault"
                                                               value="@i"
                                                        @(Model.Variants.ElementAt(i).IsDefault ? "checked" : "")
                                                               onchange="updateIsDefault(this)">

                                                        <input type="hidden" name="Variants[@i].IsDefault"
                                                               value="@(Model.Variants.ElementAt(i).IsDefault ? "true" : "false")">
                                                    </td>

                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-check form-switch mb-0">
                                                                <input type="checkbox" name="Variants[@i].IsActive"
                                                                       onchange="updateIsActive(this)"
                                                                       class="form-check-input"
                                                                       value="true"
                                                                @(Model.Variants.ElementAt(i).IsActive ? "checked" : "") />
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <input type="hidden" name="Variants[@i].Id" value="@Model.Variants.ElementAt(i).Id" />
                                                        <input type="hidden" name="Variants[@i].SKU" value="@Model.Variants.ElementAt(i).SKU" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div>
                                <span asp-validation-for="ErrorVariant" class="text-danger"></span>
                            </div>
                            <button type="button" id="addVariant" class="btn btn-sm btn-primary mt-3">Thêm Biến Thể</button>

                        </div>


                        <div class="form-group mb-3">
                            <label asp-for="SeoTitile" class="control-label"></label>
                            <input asp-for="SeoTitile" class="form-control" />
                            <span asp-validation-for="SeoTitile" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="SeoDescription" class="control-label"></label>
                            <input asp-for="SeoDescription" class="form-control" />
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="SeoKeywords" class="control-label"></label>
                            <input asp-for="SeoKeywords" class="form-control" />
                            <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                        </div>

                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label asp-for="IsActive" class="control-label"></label>
                            <div class="form-check form-switch mb-0">
                                <input asp-for="IsActive" type="checkbox" class="form-check-input">
                            </div>
                        </div>


                        <div class="form-group mb-3">
                            <a asp-action="Index" class="btn btn-danger">Danh sách</a>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts {

    @await Html.PartialAsync("_ProductScripts")
}


