@model Coza_Ecommerce_Shop.Models.Entities.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var listatt = ViewBag.Attributes;
}
<style>
    .btn-tab.actives {
        color: #696cff !important;
        box-shadow: 0 -4px 0 #696cff inset;
    }

    #imagePreview img {
        width: 150px; /* Đặt chiều rộng ảnh là 200px */
        height: 150px; /* Đặt chiều cao ảnh là 200px */
        object-fit: cover; /* Giữ tỷ lệ 1:1 và cắt ảnh nếu cần */
        margin-right: 10px; /* Thêm khoảng cách giữa các ảnh */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các hàng ảnh */
    }

</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Products" asp-action="Index">Products</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<hr />
<div class="card mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Chỉnh sửa sản phẩm</h5>
            </div>
            <div class="card-body">

                <div class="nav-align-top nav-tabs-shadow mb-6">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link btn-tab actives" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-home" aria-controls="navs-justified-home" aria-selected="false" tabindex="-1"><span class="d-none d-sm-block"> Thông tin chung </span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link btn-tab" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-profile" aria-controls="navs-justified-profile" aria-selected="false" tabindex="-1"><span class="d-none d-sm-block"> Ảnh </span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link btn-tab" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-messages" aria-controls="navs-justified-messages" aria-selected="true"><span class="d-none d-sm-block"> Thuộc tính </span></button>
                        </li>
                    </ul>
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="navs-justified-home" role="tabpanel">

                                <div class="form-group mb-3">
                                    <label asp-for="ProductCode" class="control-label"></label>
                                    <input asp-for="ProductCode" class="form-control" />
                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Detail" class="form-label"></label>
                                    <textarea asp-for="Detail" id="Detail" class="form-control"></textarea>
                                    <span asp-validation-for="Detail" class="text-danger"></span>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="Quantity" class="control-label"></label>
                                        <input asp-for="Quantity" class="form-control" />
                                        <span asp-validation-for="Quantity" class="text-danger"></span>
                                    </div>

                                    <div class="col">
                                        <label asp-for="Price" class="control-label"></label>
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>

                                    <div class="col">
                                        <label asp-for="PriceSale" class="control-label"></label>
                                        <input asp-for="PriceSale" class="form-control" />
                                        <span asp-validation-for="PriceSale" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group mb-3 form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsHome" /> @Html.DisplayNameFor(model => model.IsHome)
                                    </label>
                                </div>
                                <div class="form-group mb-3 form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsSale" /> @Html.DisplayNameFor(model => model.IsSale)
                                    </label>
                                </div>
                                <div class="form-group mb-3 form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsFeature" /> @Html.DisplayNameFor(model => model.IsFeature)
                                    </label>
                                </div>
                                <div class="form-group mb-3 form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsHot" /> @Html.DisplayNameFor(model => model.IsHot)
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="ProductCategoryId" class="control-label"></label>
                                    <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId"></select>
                                    <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="SeoTitile" class="control-label"></label>
                                    <input asp-for="SeoTitile" class="form-control" />
                                    <span asp-validation-for="SeoTitile" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="SeoDescription" class="control-label"></label>
                                    <input asp-for="SeoDescription" class="form-control" />
                                    <span asp-validation-for="SeoDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="SeoKeywords" class="control-label"></label>
                                    <input asp-for="SeoKeywords" class="form-control" />
                                    <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>

                            <!-- 2 -->
                            <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                                <div class="mb-3">
                                    <label asp-for="Image" class="form-label"></label>
                                    <input name="files" multiple class="form-control" type="file" id="formValidationFile">
                                    <span asp-validation-for="Image" class="text-danger"></span>

                                </div>

                                <div class="mb-5">
                                    <div id="imagePreview" class="row">
                                        @if (Model.ProductImages != null && Model.ProductImages.Any())
                                        {
                                            <input asp-for="Image" id="checkedImage" type="hidden" value="" />

                                            foreach (var img in Model.ProductImages)
                                            {
                                                string filename = img.Image.Split("/").Last();

                                                <div class="col-3 mb-3 image-item">
                                                    <img src="@img.Image" class="col-4 mb-3" style="max-width: 100%;">
                                                    <div>
                                                        <input type="radio" name="imageRep" value="@filename" id="radio1" class="me-2">
                                                        <label for="radio1">Chọn ảnh này làm đại diện</label>
                                                    </div>
                                                    <button type="button" class="btn btn-danger btn-sm btn-delete-img mt-2" data-id="@img.Id">Xóa</button>
                                                </div>
                                            }
                                            <input type="hidden" name="DeletedImageIds" id="deleted-image-ids" />
                                        }
                                    </div>

                                </div>
                            </div>

                            <!-- 3 -->
                            <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
                                <!--List<ProductVariant> variants-->
                                <h3 class="mt-4">Chi tiết sản phẩm</h3>
                                <div id="variant-container" class="mb-3">
                                    <div class="variant mb-3 p-3 border rounded d-flex align-items-center">
                                        <div class="form-group me-3">
                                            <label class="control-label">SKU</label>
                                            <input class="form-control" type="text" name="variants[0].SKU" />
                                        </div>
                                        <button type="button" class="btn btn-link" onclick="addAttribute(0)"><i class='bx bx-plus-circle'></i></button>

                                        <div class="attributes-container" id="attributes-container_0" style="flex-grow: 1;">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="form-group me-3">
                                                    <label class="control-label">Thuộc tính</label>
                                                    <select name="variants[0].ProductVariantAttributes[0].AttributeId" id="attributeSelect_[0][0]" class="form-control" asp-items="ViewBag.Attributes" onchange="showvalue(this, 0, 0)">
                                                        <option value="">-- Chọn thuộc tính sản phẩm</option>
                                                    </select>
                                                </div>
                                                <div class="form-group me-3">
                                                    <label for="AttributeValue">Giá trị thuộc tính:</label>
                                                    <select class="form-control" name="variants[0].ProductVariantAttributes[0].Value" id="attributeValueSelect_[0][0]">
                                                        <option value="">-- Chọn giá trị thuộc tính</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group me-3" id="price-input_0">
                                            <label for="AdditionalPrice">Giá bổ sung:</label>
                                            <input class="form-control" type="number" name="variants[0].AdditionalPrice" placeholder="Nhập giá bổ sung" />
                                        </div>
                                        <div class="form-group me-3" id="quantity-input_0">
                                            <label for="Quantity">Số lượng:</label>
                                            <input class="form-control" type="number" name="variants[0].Quantity" placeholder="Nhập số lượng" />
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-secondary mb-5" onclick="addVariant()">Thêm Biến Thể</button>


                            </div>



                            <div class="form-group mb-3">
                                <a asp-action="Index" class="btn btn-danger">Danh sách</a>
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts {

    @Html.RenderPartialAsync("_ProductScripts", (SelectList)listatt)

    <script>
        document.querySelectorAll(".btn-delete-img").forEach(button => {
            button.addEventListener("click", () => {
                const imageId = button.getAttribute("data-id");
                const deletedImagesInput = document.getElementById("deleted-image-ids");

                // Thêm ID vào input hidden
                deletedImagesInput.value += imageId + ",";

                // Xóa ảnh khỏi giao diện
                button.closest(".image-item").remove();
            });
        });
    </script>


}


